extends layout

block content
    div.d-flex.align-items-center.justify-content-between
        br
        h1.mb-4 Search Results - Found !{results.length} Matching Entries
        if results.length > 0
            a.btn.btn-primary(href=`/download${locals.queryString}`, title="Download these results as CSV")
                i.fas.fa-download
    if results.length > 0
        each result in results
            .card.mb-3
                .card-body
                    h5.card-title
                        a(href=`/dictionary/${result.entry_id}`) !{result.root}
                    p.card-text !{result.meaning}
    else
        p.text-center No results found.